/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Soviet Program";
  src: url('/assets/fonts/soviet_program/SovietProgram.ttf');
}
@font-face {
  font-family: "Soviet Program Bold";
  src: url('/assets/fonts/soviet_program/SovietProgram-Bold.ttf');
}
@font-face {
  font-family: "Soviet Program BoldItalic";
  src: url('/assets/fonts/soviet_program/SovietProgram-BoldItalic.ttf');
}
@font-face {
  font-family: "Soviet Program Italic";
  src: url('/assets/fonts/soviet_program/SovietProgram-Italic.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
